<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Repository" connectionString="metadata=res://*/RepositoryModel.csdl|res://*/RepositoryModel.ssdl|res://*/RepositoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BERSHOME;Initial Catalog=DFMaster.Repository;Persist Security Info=True;User ID=sa;Password=empty;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="RepositoryEntities2" connectionString="metadata=res://*/RepositoryModel.csdl|res://*/RepositoryModel.ssdl|res://*/RepositoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BERSHOME;Initial Catalog=DFMaster.Repository;Persist Security Info=True;User ID=sa;Password=empty;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/RepositoryModel.csdl|res://*/RepositoryModel.ssdl|res://*/RepositoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BERSHOME;Initial Catalog=DFMaster.Repository;Persist Security Info=True;User ID=sa;Password=empty;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>