<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RepositoryBinding"
                 closeTimeout="00:01:00"
                 openTimeout="0:01:00"
                 receiveTimeout="0:10:00"
                 sendTimeout="0:10:00"
                 transferMode="Streamed"
                 messageEncoding="Mtom"
                 maxBufferSize="65536"
                 maxReceivedMessageSize="134217728">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bershome:8080/Repository/Repository.svc"
                binding="basicHttpBinding"
                bindingConfiguration="RepositoryBinding"
                contract="DataFlow.Repository.IRepositoryService"
                name="WSHttpBinding_IRepositoryService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>