<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration"
             type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="exceptionHandling"
             type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration"
             type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="dataflow">
      <section name="scheduler"
               allowDefinition="Everywhere"
               type="AISTek.DataFlow.MasterNode.Scheduler.Configuration.SchedulerConfigurationSection, DataFlow.MasterNode.Scheduler"/>
      <section name="repository"
               allowDefinition="Everywhere"
               type="AISTek.DataFlow.MasterNode.Repository.Configuration.RepositoryConfigurationSection, DataFlow.MasterNode.Repository"/>
    </sectionGroup>
  </configSections>

  <!--  Microsoft Logging configuration  -->
  <loggingConfiguration name="Logging Application Block"
                        tracingEnabled="true"
                        defaultCategory="General"
                        logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="AISTek DataFlow TaskServices"
           formatter="Log text formatter"
           log="Application"
           machineName=""
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
           traceOutputOptions="Timestamp"
           filter="All"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
           name="EventLog TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
           name="Log text formatter" />
    </formatters>
    <categorySources>
      <add switchValue="Critical"
           name="Critical errors">
        <listeners>
          <add name="EventLog TraceListener" />
        </listeners>
      </add>
      <add switchValue="All"
           name="General">
        <listeners>
          <add name="EventLog TraceListener" />
        </listeners>
      </add>
      <add switchValue="All"
           name="Information">
        <listeners>
          <add name="EventLog TraceListener" />
        </listeners>
      </add>
      <add switchValue="All"
           name="System.ServiceModel">
        <listeners>
          <add name="EventLog TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All"
                 name="All Events">
        <listeners>
          <add name="EventLog TraceListener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All"
                    name="Unprocessed Category" />
      <errors switchValue="All"
              name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <!--  Microsoft Exception Handling configuration  -->
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Core policy">
        <exceptionTypes>
          <add type="System.Web.HttpException, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
               postHandlingAction="NotifyRethrow"
               name="HttpException" />
          <add type="System.Threading.ThreadAbortException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               postHandlingAction="NotifyRethrow"
               name="ThreadAbortException" />
        </exceptionTypes>
      </add>
      <add name="Service policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               postHandlingAction="NotifyRethrow"
               name="Exception">
            <exceptionHandlers>
              <add logCategory="Critical errors"
                   eventId="100"
                   severity="Critical"
                   title="AISTek DataFlow TaskServices"
                   formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.XmlExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
                   priority="0"
                   useDefaultLogger="false"
                   type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                   name="Logging Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.ServiceModel.CommunicationException, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               postHandlingAction="NotifyRethrow"
               name="CommunicationException">
            <exceptionHandlers>
              <add logCategory="System.ServiceModel"
                   eventId="100"
                   severity="Warning"
                   title="AISTek DataFlow TaskServices"
                   formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                   priority="0"
                   useDefaultLogger="false"
                   type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                   name="Logging Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.InvalidOperationException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               postHandlingAction="None"
               name="InvalidOperationException">
            <exceptionHandlers>
              <add logCategory="System.ServiceModel"
                   eventId="100"
                   severity="Error"
                   title="AISTek DataFlow TaskServices"
                   formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.XmlExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                   priority="0"
                   useDefaultLogger="false"
                   type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                   name="Logging Handler" />
            </exceptionHandlers>
          </add>
          <add type="System.NullReferenceException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               postHandlingAction="NotifyRethrow"
               name="NullReferenceException">
            <exceptionHandlers>
              <add logCategory="System.ServiceModel"
                   eventId="100"
                   severity="Error"
                   title="AISTek DataFlow TaskServices"
                   formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.XmlExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                   priority="0"
                   useDefaultLogger="false"
                   type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                   name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <connectionStrings>
    <add name="Logs SQL Server"
         connectionString="Data Source=localhost;Initial Catalog=DFMaster.Logs;Persist Security Info=True;User ID=sa;Password=empty"
         providerName="System.Data.SqlClient" />
    <add name="Repository SQL Server"
         connectionString="Data Source=BERSHOME;Initial Catalog=DFMaster.Repository;Persist Security Info=True;User ID=sa;Password=empty;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
    <add name="Repository Entities Connection"
         connectionString="metadata=res://*/RepositoryModel.csdl|res://*/RepositoryModel.ssdl|res://*/RepositoryModel.msl;provider={0};provider connection string=&quot;{1}&quot;"
         providerName="System.Data.EntityClient" />
    <add name="Entities"
         connectionString="metadata=res://*/RepositoryModel.csdl|res://*/RepositoryModel.ssdl|res://*/RepositoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BERSHOME;Initial Catalog=DFMaster.Repository;Persist Security Info=True;User ID=sa;Password=empty;MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--  Microsoft Unity configuration  -->
  <unity>
    <typeAliases>
      <typeAlias alias="singleton"
                 type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    </typeAliases>
    <containers>
      <container>
        <types>
          <type type="AISTek.DataFlow.MasterNode.Repository.IRepository, DataFlow.MasterNode.Repository"
                mapTo="AISTek.DataFlow.MasterNode.Repository.InMemoryRepository, DataFlow.MasterNode.Repository">
            <lifetime type="singleton" />
          </type>
          <type type="AISTek.DataFlow.MasterNode.Repository.IUncFileMapper, DataFlow.MasterNode.Repository"
                mapTo="AISTek.DataFlow.MasterNode.Repository.UncFileMapperStub, DataFlow.MasterNode.Repository">
            <lifetime type="singleton" />
          </type>
          <type type="AISTek.DataFlow.MasterNode.Repository.IFileClassesConverter, DataFlow.MasterNode.Repository"
                mapTo="AISTek.DataFlow.MasterNode.Repository.FileClassesConverter, DataFlow.MasterNode.Repository" />
          <type type="AISTek.DataFlow.MasterNode.Repository.Configuration.IRepositoryConfiguration, DataFlow.MasterNode.Repository"
                mapTo="AISTek.DataFlow.MasterNode.Repository.Configuration.RepositoryConfiguration, DataFlow.MasterNode.Repository" />

          <type type="AISTek.DataFlow.MasterNode.Scheduler.IJobScheduler, DataFlow.MasterNode.Scheduler"
                mapTo="AISTek.DataFlow.MasterNode.Scheduler.JobScheduler, DataFlow.MasterNode.Scheduler">
            <lifetime type="singleton" />
          </type>
          <type type="AISTek.DataFlow.MasterNode.Scheduler.ITaskQueue, DataFlow.MasterNode.Scheduler, Version=0.1.1025.201, Culture=neutral"
                mapTo="AISTek.DataFlow.MasterNode.Scheduler.TaskQueue, DataFlow.MasterNode.Scheduler">
            <lifetime type="singleton" />
          </type>
          <type type="AISTek.DataFlow.MasterNode.Scheduler.JobBuilder.IJobBuildingPipeline, DataFlow.MasterNode.Scheduler"
                mapTo="AISTek.DataFlow.MasterNode.Scheduler.JobBuilder.JobBuildingPipeline, DataFlow.MasterNode.Scheduler">
            <lifetime type="singleton" />
          </type>
          <type type="AISTek.DataFlow.MasterNode.Scheduler.Configuration.ISchedulerConfiguration, DataFlow.MasterNode.Scheduler"
                mapTo="AISTek.DataFlow.MasterNode.Scheduler.Configuration.SchedulerConfiguration, DataFlow.MasterNode.Scheduler" />
        </types>
      </container>
    </containers>
  </unity>

  <dataflow>
    <scheduler>
      <pipeline>
        <add type="AISTek.DataFlow.MasterNode.Scheduler.JobBuilder.JobStateInitializationStrategy, DataFlow.MasterNode.Scheduler"  />
        <add type="AISTek.DataFlow.MasterNode.Scheduler.JobBuilder.JobGraphCompletionStrategy, DataFlow.MasterNode.Scheduler"  />
        <add type="AISTek.DataFlow.MasterNode.Scheduler.JobBuilder.JobGraphCyclesValidationStrategy, DataFlow.MasterNode.Scheduler"  />
      </pipeline>
      <taskProvider pingTimeout="0:00:05"/>
    </scheduler>
    <repository>
      <cache enabled="True" cacheSize="100"/>
    </repository>
  </dataflow>

  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="false"
                      logMalformedMessages="false"
                      logMessagesAtTransportLevel="false"
                      logMessagesAtServiceLevel="false" />

    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="RepositoryBinding"
                 closeTimeout="00:01:00"
                 openTimeout="0:01:00"
                 receiveTimeout="0:10:00"
                 sendTimeout="0:10:00"
                 transferMode="Streamed"
                 messageEncoding="Mtom"
                 maxReceivedMessageSize="268435456">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="AISTek.DataFlow.MasterNode.Scheduler.JobManagerBinding" />
      </wsDualHttpBinding>
      <wsHttpBinding>
        <binding name="TaskProviderBinding"
                 closeTimeout="0:00:10"
                 openTimeout="0:00:30"
                 receiveTimeout="0:01:00"
                 sendTimeout="0:00:10"
                 allowCookies="true"  >
          <security mode="Message" />
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="TcpRepositoryBinding"
                 transferMode="Streamed"
                 maxReceivedMessageSize="268435456">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="DataFlow.Repository.IRepositoryService"
               behaviorConfiguration="AISTek.DataFlow.MasterNode.Repository.RepositoryServiceBehavior">
        <!-- Service Endpoints -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="RepositoryBinding"
                  contract="DataFlow.Repository.IRepositoryService" />
        <endpoint address="net.tcp://localhost:1000/df/repository"
                  binding="netTcpBinding"
                  bindingConfiguration="TcpRepositoryBinding"
                  contract="DataFlow.Repository.IRepositoryService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="AISTek.DataFlow.MasterNode.Scheduler.TaskProviderBehavior"
               name="DataFlow.Scheduler.ITaskProvider">
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="TaskProviderBinding"
                  contract="DataFlow.Scheduler.ITaskProvider">
        </endpoint>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="AISTek.DataFlow.MasterNode.Scheduler.JobManagerBehavior"
               name="DataFlow.Scheduler.IJobManager">
        <endpoint address=""
                  binding="wsDualHttpBinding"
                  bindingConfiguration="AISTek.DataFlow.MasterNode.Scheduler.JobManagerBinding"
                  contract="DataFlow.Scheduler.IJobManager">
        </endpoint>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AISTek.DataFlow.MasterNode.Repository.RepositoryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="AISTek.DataFlow.MasterNode.Scheduler.TaskProviderBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="AISTek.DataFlow.MasterNode.Scheduler.JobManagerBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>